[submodule "fn-lang"]
	path = fn-lang
	url = https://github.com/OpenFn/fn-lang.git
	branch = master
[submodule "language-common"]
	path = language-common
	url =  https://github.com/OpenFn/language-common.git
	branch = master
