[submodule "core"]
	path = core
	url = https://github.com/OpenFn/core.git
	branch = master
[submodule "language-common"]
	path = language-common
	url =  https://github.com/OpenFn/language-common.git
	branch = master
